/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Прибрати scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body{
    background: #1F1F1F;
    font-family: 'Ysabeau SC', sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
